<button id="add" class="btn btn-primary">Add Item</button>

<ul id="items"></ul>


<script type="text/template" id="item-template">
  <span style='color: red;'>
    <%%= part1 %> <%%= part2 %> <%%= count %>
  </span>
  <span class="btn remove">x</span>
</script>