<div>
  <a href="/hello_backbone/2" class="btn pull-right">
    <i class="icon-arrow-right icon-2x"></i>
  </a>
  <h1 style="margin: 200px;">Step 1</h1>
</div>

<div id="hello-backbone"></div>

<div class="ps">
  This example illustrates the declaration and instantiation of a minimalist View.

  <a href="http://arturadib.com/hello-backbonejs/docs/1.html" class="btn" target="_blank">View Source</a>
</div>
