<div>
  <a href="/hello_backbone/1" class="btn pull-left">
    <i class="icon-arrow-left icon-2x"></i>
  </a>
  <a href="/hello_backbone/3" class="btn pull-right">
    <i class="icon-arrow-right icon-2x"></i>
  </a>
  <h1 style="margin: 200px;">Step 2</h1>
</div>

<div id="hello-backbone">
  <button id="add" class="btn btn-success">Add Item</button>

  <ul></ul>
</div>


<div class="ps">
  This example illustrates the binding of DOM events to View methods.

  <a href="http://arturadib.com/hello-backbonejs/docs/2.html" target="_blank">View Source</a>
</div>
