<div>
  <a href="/hello_backbone/2" class="btn pull-left">
    <i class="icon-arrow-left icon-2x"></i>
  </a>
  <a href="/hello_backbone/4" class="btn pull-right">
    <i class="icon-arrow-right icon-2x"></i>
  </a>
  <h1 style="margin: 200px;">Step 3</h1>
</div>

<div id="hello-backbone">
  <button id="add" class="btn btn-success">Add Item</button>

  <ul></ul>
</div>

<div class="ps">
  This example illustrates how to use a Collection of Models to store data, and how to tie changes in those to a View.

  <a href="http://arturadib.com/hello-backbonejs/docs/3.html" target="_blank">View Source</a>
</div>

<script type="text/template" id="item-template">
  <div class="alert alert-success"><%%= count %>. <%%= content %></div>
</script>